﻿*{
	margin:0;
	padding:0;
}

#menu>ul{
	list-style:none;
}

ul>li{
	width:100px;
	height:50px;
	background-color:yellow;
	display:block;
	float:left;
	text-align:center;
	line-height:3em;
}

ul>li>a{
	text-decoration:none;
	display:block;
}


li>ul>li{
	display:none;
}

li:hover>ul>li{
	display:block;
	
}

li:hover{
	background-color:orange;
}
