﻿*{
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}
li{
max-height:100px;
max-width:150px;
	width:120px;
	height:50px;
	color:white;
	background-color:orange;
	text-align:center;
	line-height:3em;
	color:white;
	word-break:break-all;
	word-wrap: break-word;
	font-size: medium;
	overflow:visible;
}

#menu>li{
	display:block;
	float:left;
}

a{
	display:block;
	color:white;
	word-wrap: break-word;
		word-break:break-all;
			text-decoration:none;
}

li li{
	display:none
}

li:hover{
	background-color:#333333
}

ul#menu>li:hover>ul>li{
	display:block;
}

ul#menu>li:hover>ul>li:hover>ul>li{
	
display:block;
position:relative;
left:120px;bottom:42px;
}