﻿body {
  margin: 0 20px;
  background-color: hsl(54, 100%, 75%);
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

main {
  display: block;
  overflow: auto;
  background-color: white;
}

h2 {
  margin: 0;
  background-color: hsl(43, 100%, 60%);
}

h3 {
  margin: 0;
  padding-left: 5px;
  background-color: hsl(28, 100%, 50%);
  color: white;
  font-size: 1.5rem;
  width: 200px
}

p {
  margin: 5px;
  width:200px;
  }

footer p {
  margin: 10px 0;
  font-size: 0.75rem;
}

.caja1, .caja2, .caja3{
	width:34em; margin:10px; border: 5px hsl(43,100%,60%) solid; background-color:hsl(54,100%,60%); float:left
}
.caja3{
	clear:both
}
.article{
	width:15em; margin:10px; border: 5px hsl(28,100%,50%) solid; background-color:hsl(49,100%,60%)
}
.subcaja{
	border: thick hsl(28, 100%, 50%) solid; width:200px; margin:10px; float:left
}
.caja1 .subcaja+.subcaja, .caja2 .subcaja+.subcaja{
	float:right
}
