﻿body{
	background-color:#CCFFFF;

}

h1{
	margin:0;
}

h2{
	background-color:#333399; text-align:center; color:white; font-family:Arial, Helvetica, sans-serif;
margin-top:0;
}
h3{
	border-radius:5px 5px 0 0;
	background-color:#00CC00; color:white;
	margin-bottom:0;
	margin-left:10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:left;
			padding-left:5px
}
	

div#caja{
border:1px black hidden;
	width:80%;
	margin:0 auto;
}

p{
	border-radius: 0px 0px 5px 5px;
	background-color:white;
	margin-top:0;
	margin-left:10px;
		padding:5px

}