form {
    width: 500px;
    background-color: #999;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}

div {
    margin: 30px;
}

#display {
    border: 1px solid black;
    margin: 50px auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.2em;
    -webkit-box-shadow: 1px 1px 1px 1px #000;
    box-shadow: 1px 1px 1px 1px #000;
    background-color: #ccc;
    position: relative;
    left: 0px;
    top: 0px;
}

.botones {
    text-align: center;
}

button {
    display: table-cell;
    margin: 10px;
    width: 100px;
    line-height: 50px;
}