﻿*{margin:0;padding:0;}
body{
	color:white;
	font-size:	xx-large;
	background-color:#FF9999;
}
#cuerpo{
float:left;
width:100%;
height:100vh;
	}
header{
	width:100%;
	height:100px;
	background-color:#66CCFF;
	text-align:center;
	line-height:100px;
	margin:15px;
}

#menu{
	text-align:	center;
	width:25%;
	background-color: #0099CC;
	height:100vh;
	float:left;
}
#contenido{
float:left;
height:100vh;
width:75%;
	background-color: #FF5050 ;
	min-width:905px;

}
#article{
	width:100%;
	height:50vh;
	background-color: #FF9933;
	text-align:center;
	line-height:120px;
	float:left;
	margin:15px;
}

#imagenes{
	width:100%;
	height:50vh;
	float:left;
}

footer{
	width:100%;
	height:100px;
	background-color:#66CCFF;
	text-align:center;
	line-height:100px;
	clear:left;
	margin:15px;

}
#img1, #img2,#img3{
	width:25%;
	height:40vh;
	border:15px #FF9933 solid;
	float:left;
	margin:20px 2.5% 0 2.5%;
	min-width:205px;
}
img{
width:100%;
height:100%;

}
