﻿*{
	margin:0;
	padding:0;
}
body{
	margin:0 auto;
	border-bottom:medium #800000 solid;

}
div{
	width:100%;
	height:20%;
	border:medium #800000 solid;
	border-width:3px 0 3px 0;
	float:left;
	padding:7px 0;
	padding-bottom:13px;
	}

a{
	text-decoration:none;
	float:left;
	color:#666633;
	font-family:Arial;
	padding:2px 30px 2px 30px;
	min-width:100px;
}


#cabecera{
	margin:10px 0;
}
li{
		list-style:none;
	color:#666633;
	border:1px #666633 solid;
border-radius:15px;
text-align:center;
}

li.hover, a.hover{
	border:1px #800000 solid;
}

#cabecera li{
	display:inline;
	float:right;
	margin:0 8px 0 8px;
}

#cuerpo{
clear:both;
float:left;
border-right:3px #CC9900 solid;

}
#cuerpo li{
clear:both;
	margin:10px;float:left;

}
img{
	float:left;
}
span{
float:left;
	border:medium #800000 solid;
}

.especiales{
border:medium #800000 solid;
border-width:3px 0;
clear:both;
}

.bordeinf{
	width:100%;
	height:95%;
	border-bottom:3px #800000 solid;
	border-width:0 0 3px 0;
}

.productos{
	border:medium #800000 solid;
border-width:0 0 3px 0;
clear:both;

}

