*{
    margin:0;
    padding:0;
}

pagina{
    display:flex;
flex-direction: column;}

header{
    height:50px;
    background-color: black;
    display:grid;
    grid-template:1fr/1fr 5fr 2fr;
    height:40px;
    width: 100%;
    align-items: center;
}

header div{
    grid-column: 1/2;
    margin-left: 20px;
}

header span{
    background-color: white;
    letter-spacing: 1px;
    margin:3px;
    text-align: center;
    padding:1px;
}

header ul{
    display:flex;
    flex-direction: row;
    grid-column: 2/3;
}
input{
    grid-column: 3/4;
    height: 20px;
    width:50%;
    
}

header li{
    list-style: none;

}

li a{
    text-decoration: none;
    color:white;
    border-right: 1px white solid;
    padding:10px 20px;

}

h1{
    font-size:normal;
    color:rgb(67, 67, 67);
    grid-area:title;
    margin-bottom: 15px;

}

h2{
    font-size: small;
    font-weight: normal;
    border-left:1px red solid;
    padding-left:5px;
    margin:15px 0px;
}

#superior{
display:grid;
grid-template:.2fr 1fr 1fr/2fr,1fr,1fr;
grid-template-areas:"title title title" "atentado inter arquera" "greetings hollywood healthy";
background-color: rgb(229, 229, 229);
padding:30px;
}

#inferior{
display:grid;
grid-template:1fr/repeat(3,1fr);
grid-template-areas: "h1 h1 h1" "somalia austria harvey";
padding:30px;
}




article div{
    display:flex;
    flex-direction: column;
    width:95%;

}



#atentado{
    grid-area:atentado;
}

#inter{
    grid-area:inter;
}

#arquera{
    grid-area:arquera;
}

#greetings{
grid-area:greetings;
display:none;
}

#hollywood{
grid-area:hollywood;
}

#healthy{
    grid-area:healthy;
}

#somalia{
grid-area:somalia;
}

#austria{
grid-area:austria;
}

#harvey{
grid-area:harvey;
}

#inferior h1{
    grid-area:h1;
}


@media all and (max-width:64.25em){
    #greetings{
        display:block;
    }
}