body {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr 2fr;
    grid-template-areas: "rock alpe magdalena aside" "festival altamont again aside";
    height: 80vh;
}

div {
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
}

#rock {
    grid-area: rock;
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#alpe {
    grid-area: alpe;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#magdalena {
    grid-area: magdalena;
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#festival {
    grid-area: festival;
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#altamont {
    grid-area: altamont;
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#again {
    grid-area: again;
    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link {
    width: 100%;
}

li {
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
    padding: 10px 100px;
    width: 100%;
}