﻿*{
	margin:0;
padding:0;

}

body{
background-image:url("images/cabecera.jpg");
background-repeat:no-repeat;
background-size:680px;
margin:0 auto;
}

.menus{
clear:left;
	float:left;
	width:300px;
	height:100px;
	position:relative;
	top:340px;
	}

.buscar, .registro, .informaciones{
	background-color: #FFFF66;
	padding:  0 15px 0;
	margin-bottom:15px;
	}
	.informaciones{
	text-align:center;
display: flex;
  flex-direction: column;
  align-items: center;}
h3{
width:290px;
	background-image:url("images/titlat3.jpg");
	background-repeat:no-repeat;
	background-size:300px;
	color:white;
	letter-spacing: 2px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px;margin:0;
}
button{
	border-radius:5px;
}

#menucabecera{
	list-style:none;
	background-image:url("images/barranav.jpg") !important; 
	background-repeat:no-repeat;
	z-index:2;
	position:relative;bottom:170px;
}
#menucabecera a{
	text-decoration:none;
	display:inline;
	float:left;
	border-right:1px white solid;
	color:white;
	margin-right:5px;
	padding:0 3px 0 5px;
	position:relative;
	top:500px;
	letter-spacing:1.4px;
	
}

.texto{
	background-image:url("images/decora_trans.jpg");
	background-repeat:no-repeat; background-position:right;
position:relative;
left:300px;
width:380px;
}

.menus, .texto{
	position:relative;
	top:380px;
}

span{
font-size: x-large;
font-weight:bolder;
}