﻿table, td, tr{
	border:1px #333 solid;
	border-spacing:0;
	border-collapse:collapse;
	text-align:center;
	font-family:Arial
}
#cabecera{
	background-color:  #CCCCCC;
}

#euro,#dolar,#libra,#yen{
	background-color:#E6F3FF;
	text-align:left;
}

tr:nth-child(even){
	background-color:#FFFFCC;
}
tr:hover{
	background-color:#FFFF66;
}