﻿body {
  background-color: hsl(343, 100%, 96%);
  background-size: 150px;
  font-family: sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

div {
  border: black 2px solid;
  margin: 10px 150px;
  font-weight: bold;
}

div.s1 {
  color: white;
}

div.s2 {
   color: hsl(52, 100%, 50%);
}

div.s3 {

  background-size: contain, auto;
  color: hsl(0, 100%, 25%);
}

div.s4 {
  padding-bottom: 50px;
  background-size: 100px, auto;
  color: hsl(125, 100%, 15%);
}
/*
*{
	background: url("fondos/corazon-2.svg") repeat-y width:20em text-align:left alignment-adjust:auto;
	background: url("fondos/corazon-1.svg") repeat-y width:20em text-align:right alignment-adjust:auto
	}
.s1{
	background:url("fondos/manchas.png")
}
.s2{
background:url("fondos/tallos.jpg"),url("fondos/fuego.svg") bottom left no-repeat,url("fondos/fuego.svg") bottom right no-repeat ); width: auto;
}
.s3{
	background:url("fondos/hexagonos.jpg"), url("fondos/ojo.svg") center
}
.s4{background:url("fondos/estrellas.png")*/

.s1{
	background:url("fondos/manchas.png")
}

.s2{
background:url("fondos/fuego.svg") no-repeat bottom left, url("fondos/fuego.svg") no-repeat bottom right, url("fondos/tallos.jpg")
}
.s3{
	background:url("fondos/ojo.svg") no-repeat center,url("fondos/hexagonos.jpg")
}
.s4{background:url("fondos/caballo.svg") repeat-x bottom;width: auto,url("fondos/estrellas.png")
}