form {
    background-color: #ccc;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    height: 400px;
    align-items: center;
    margin: 50px auto
}

div {
    margin: 50px
}

#salida {
    padding: 50px;
    border: 5px black solid;
}