#letra {
    background-color: aqua;
    width: 50px;
    height: 20px;
}

span {
    display: table-cell;
    border: 1px black solid;
    margin: 1px;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
}