article {
    display: grid;
    grid-template: repeat(6, 1fr)/2fr 2fr 1fr 1fr 2fr 2fr 2fr;
    grid-template-areas: "feature feature feature header header header header" "side products products products products products feature2" "side products products products products products ." "side bonus1 . . . bonus3 feature3" "side . bonus2 bonus2 . . bonus4" "side footer footer footer footer footer footer";
    height: 80vh;
    color: white;
    gap: 15px;
    font-size: x-large;
}

div,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature {
    background-color: red;
    grid-area: feature;
}

#header {
    background-color: black;
    grid-area: header;
}

#products {
    background-color: blue;
    grid-area: products;
}

#side {
    background-color: green;
    grid-area: side;
}

#feature2 {
    background-color: red;
    grid-area: feature2;
}

#feature3 {
    background-color: red;
    grid-area: feature3;
}

#bonus1 {
    background-color: red;
    opacity: 0.3;
    grid-area: bonus1;
}

#bonus2 {
    background-color: red;
    opacity: 0.3;
    grid-area: bonus2;
}

#bonus3 {
    background-color: red;
    opacity: 0.3;
    grid-area: bonus3;
}

#bonus4 {
    background-color: red;
    opacity: 0.3;
    grid-area: bonus4;
}

Footer {
    background-color: yellow;
    grid-area: footer;
}

@media all and (max-width:1000px) {
    article {
        gap: 2px;
        grid-template: repeat(6, 1fr)/repeat(3, 1fr);
        grid-template-areas: "feature header header" "side products feature2" "side products feature3" "side bonus1 bonus3" "side bonus2 bonus4" "side footer footer";
    }
}

@media all and (max-width:600px) {
    article {
        gap: 2px;
        grid-template: repeat(9, 1fr)/1fr 2fr;
        grid-template-areas: "feature header" "side side" "products feature2" "products feature3" "bonus1 bonus1" "bonus3 bonus3" "bonus2 bonus2" "bonus4 bonus4" "footer footer";
    }
}