*{
    margin:0;
    padding:0;
    background-color: rgb(160, 43, 0);
    color:white;
}

pagina{
    display:grid;
    grid-template:1fr 3fr 6fr 1fr/75fr 25fr;
    grid-template-areas:"header header" "superior superior" "central aside" "footer footer";
    margin:15px 20%;
}
img{
    width:100%;
}
h1,h2,h3,h4{
    color:bisque;
    font-size: xx-large;
}

h3,h4{font-size: large;}

h4{border-top: 1px bisque solid;
    border-bottom: 1px bisque solid;
padding:3px;}

p{margin-bottom:10px;}

a{color:bisque;}

fecha{color:black;
font-weight: bold;}

header{
grid-area:header;
margin:15px;
}
superior nav{
    display:flex;
    justify-content: space-around;
    background-color: bisque;
    width:100%;
}

superior li{
    list-style: none;
    padding:10px;
    background-color: bisque;

}
superior a{
    text-decoration: none;
    background-color: bisque;
color:rgb(160, 43, 0);
}

superior{
grid-area:superior;
}

central{
grid-area:central;
margin:0 30px 30px 0;
}

central li{
    margin-top:10px;
}

aside{
grid-area:aside;
}

#superior{margin-bottom:30px;}

#superior ul{
    padding:15px;
}
#superior li{
    margin-top:10px;
}

footer{
grid-area:footer;
background-color: rgb(80, 21, 0);
text-align: center;
align-self: center;
padding:10px;
width:100%;
}