﻿ul,ul li{margin:0;padding:0;list-style:none}
h1,h2,h3,p,form{margin:0;padding:0}
.clear{clear:both}
img{border:none}
#contenedor{width:90%;max-width:900px;width:expression(document.body.clientWidth > 901? "900px":"auto");margin:0 auto}
#cabecera{clear:both}
#menu{clear:both}
#lateral{float:left;width:20%}
#contenido{float:right;width:78%}
#contenido #principal{float:left;width:78%}
#contenido #secundario{float:right;width:20%}#pie{clear:both}
#cabecera #logo{float:left}#cabecera #buscador{float:right}
#menu ul#menu_principal li{display:inline;float:left}#contenido #principal .articulo img{width:100px;float:left}
#pie .enlaces{float:left}
#pie .copyright{float:right}
#cabecera,#menu,#lateral,#lateral #noticias,#lateral #publicidad,#contenido,#contenido #principal,#contenido #secundario,#pie{padding:.5em}
#lateral{padding:0}
#cabecera{padding:1em}
#menu{margin-bottom:.5em}
#contenido{width:77%;padding:0}
#contenido #principal{width:73%}
#pie{padding:.5em 0;margin-top:1em}
#contenido #principal .articulo{margin-bottom:1em}
#contenido #principal .articulo img{margin:.5em}
#lateral #publicidad{margin-top:1em}


#menu{border-bottom-color:#004C99; border-width:0 0 1px 0;border-style:solid}
#noticias{border-color:#c5c5c5; border-width:1px;border-style:solid}
#publicidad{border-color:#CC6600; border-width:1px;border-style: dashed}
#secundario{border-color:#CC6600; border-width:1px; border-style:solid}
#pie{border-width: 1px 0 1px 0; border-color:#C5C5C5;border-style:solid}