* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 8%;
    background-color: rgb(65, 39, 28);
}

#cuerpo {
    display: flex;
}

h1 {
    font-size: medium;
    color: orange;
    padding: 10px;
}

header {
    color: white;
    background-color: orangered;
    width: 100%;
    height: 4vh;
    font-size: xx-large;
}

article {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    color: rgb(141, 109, 96);
}

#escaparate {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#escaparate div {
    padding: 5px;
    border: 1px rgb(141, 109, 96) solid;
    width: 30%;
    margin: 5px;
    height: 30vh;
}

#izq {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: rgb(28, 17, 12);
}

#izq div {
    color: rgb(141, 109, 96);
    border: 1px rgb(141, 109, 96) solid;
    margin: 5px;
    padding: 15px;
}

#der {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: rgb(28, 17, 12);
    align-items: center;
    ;
}

#der a {
    color: rgb(141, 109, 96);
    width: 95%;
    height: 5vh;
    line-height: 40px;
    padding: 0 0 0 10px;
}

#der div {
    border: 1px rgb(141, 109, 96) solid;
    width: 95%;
    height: 5vh;
    margin: 5px;
    text-align: left;
}

footer {
    color: white;
    background-color: orangered;
    width: 100%;
    height: 2vh;
}

@media all and (max-width:640px) {}