body {
    background-color: #ccc;
}

header {
    color: #ccc;
    text-align: center;
    background-color: rgb(41, 41, 41);
    width: 100;
    height: 10vh;
    line-height: 500%;
}

nav {
    display: flex;
}

nav a {
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    border: 10px solid black;
    text-align: center;
    color: black;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

main {
    display: flex;
    width: 100%;
    height: 80vh;
}

article {
    width: 75%
}

aside {
    width: 25%;
    background-color: rgb(182, 126, 57);
    padding: 20px;
}

footer {
    border-top: 10px black solid;
}

@media all and (max-width:700px) {
    article {
        width: 50%;
    }
    aside {
        width: 50%;
    }
}