   * {
       padding: 0;
       margin: 0;
   }
   
   header {
       display: flex;
       background-color: rgb(27, 27, 77);
       width: 100%;
       height: 10vh;
       color: white;
       align-items: center;
       padding: 10px;
       font-size: x-large;
       justify-content: space-between;
   }
   
   p {
       margin-left: 20px;
   }
   
   img {
       height: 40px;
       line-height: 100px;
   }
   
   header nav {
       background-color: brown;
       padding: 12px 20px;
       margin-right: 20px;
   }
   
   header a {
       color: white;
       text-decoration: none;
       font-size: medium;
       padding: 10px 30px;
   }
   
   article {
       display: flex;
   }
   
   #textos {
       display: flex;
       flex-direction: column;
       width: 70%;
       height: 82vh;
   }
   
   #texto1 {
       border-bottom: 1px black solid;
       padding: 10px;
   }
   
   #texto2 {
       padding: 10px;
   }
   
   #lateral {
       display: flex;
       flex-direction: column;
       width: 30%;
       height: 82vh;
       background-color: orange;
   }
   
   #cuadro1 {
       background-color: orangered;
       margin: 20px 6% 5px 6%;
       width: 88%;
       height: 41vh;
       padding: 0;
   }
   
   #cuadro2 {
       background-color: orangered;
       margin: 5px 6% 20px 6%;
       width: 88%;
       height: 41vh;
       padding: 0;
   }
   
   footer {
       display: flex;
       background-color: rgb(27, 27, 77);
       width: 100%;
       height: 8vh;
       color: white;
       align-items: center;
       padding: 10px;
       justify-content: space-between;
   }
   
   #rojo {
       background-color: brown;
       padding: 12px;
       margin-left: 20px;
   }
   
   #rojo a {
       text-decoration: none;
       color: white;
       padding: 10px;
   }
   
   #naranja {
       background-color: orange;
       padding: 12px;
       margin-right: 20px;
   }
   
   #naranja a {
       text-decoration: none;
       padding: 10px;
       color: white;
   }
   
   @media all and (max-width:800px) {
       header {
           display: flex;
           flex-direction: column;
           height: 150px;
           margin-bottom: 15%;
       }
       header nav {
           width: 100%;
       }
       article {
           display: flex;
           flex-direction: column;
       }
       #lateral {
           width: 100%;
           flex-direction: row;
           height: 30vh;
           align-items: center;
           justify-content: space-around;
       }
       #textos {
           display: flex;
           flex-direction: column;
           width: 100%;
           height: 100vh;
       }
       #cuadro1,
       #cuadro2 {
           height: 20vh;
           margin: 0;
           width: 40%;
       }
   }