* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(228, 228, 228);
    border: 1px black solid;
    border-radius: 50px 0 50px 0;
    padding: 20px;
    box-shadow: 10px 10px 10px 10px grey;
}

header {
    background-color: grey;
    color: rgb(33, 33, 49);
    width: 100%;
    height: 150px;
    border-radius: 50px 0 0 0;
}

header h1 {
    padding: 15px;
    line-height: 120px;
    font-weight: normal;
}

h2 {
    margin: 30px 0;
    text-align: end;
    font-size: xx-large;
}

h3 {
    color: white;
    text-align: center;
    font-size: xx-large;
}

#articulos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

#articulos article img {
    width: 30%;
}

#diseño {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    background-color: #54D1F1;
    border-radius: 50px 0 50px 0;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 10px;
}

#montaña {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    background-color: #F2CA85;
    border-radius: 50px 0 50px 0;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

#animales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background-color: #F89A7E;
    border-radius: 50px 0 50px 0;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}

#otras {
    border: 1px black solid;
    border-radius: 50px 0 50px 0;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px grey;
}

#otras article {
    border: 1px black solid;
    border-radius: 50px 0 50px 0;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}

#otras article img {
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 50px;
}

footer {
    text-align: center;
    line-height: 30px;
}

@media all and (max-width:800px) {
    #articulos {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    #diseño,
    #montaña,
    #animales {
        width: 90%;
        margin: 20px;
    }
    h2,
    h1 {
        text-align: center;
    }
    span {
        display: none;
    }
}