﻿body {
    color: white;
    font-size: x-large;
    opacity: 0.7;
}

header {
    width: 100%;
    height: 10vh;
    background-color: blue;
    display: flex;
    align-items: center;
}

.padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.numeros {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.menu {
    width: 40%;
    height: 50vh;
    background-color: green;
    margin: 5px;
}

.barra {
    width: 20%;
    height: 50vh;
    background-color: purple;
    margin: 5px 0;
}

.uno,
.dos {
    background-color: orange;
    height: 33vh;
    width: 30%;
}

.uno {
    margin: 0 5px 15px 5px;
}

footer {
    width: 100%;
    height: 7vh;
    background-color: blue;
    display: flex;
    align-items: center;
}