﻿header {
    width: 100%;
    height: 40px;
    border: 5px rgb(130, 0, 0) solid;
    border-right: none;
    border-left: none;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul {
    justify-content: flex-end;
    position: relative;
    bottom: 40%;
}

li {
    text-align: center;
    list-style: none;
    border: 1px rgb(50, 60, 43) solid;
    border-radius: 8px;
    margin: 10px;
}

a {
    text-decoration: none;
    padding: 2px 20px;
    color: rgb(50, 60, 43);
}

.cuerpo {
    display: flex;
    width: 100%;
    height: 60vh;
    border-bottom: 3px solid rgb(130, 0, 0);
}

#menu {
    display: flex;
    border-right: 5px solid rgb(130, 130, 3);
    flex-direction: column;
    padding: 0;
}

#borde1 {
    border-bottom: 5px rgb(130, 0, 0) solid;
    margin-right: 15px;
}

#borde2 {
    border-bottom: 5px rgb(130, 0, 0) solid;
    border-top: 5px rgb(130, 0, 0) solid;
    margin-right: 15px;
}